.rstudio/
.drake/
test/
Figures/
output/figures/
Rda_files/
ferret/*~$*
data/CNP_ModelOutputs/Kwiatkowski18_GBC/*.nc
data/CNP_ModelOutputs/Kwiatkowski18_GBC/*.nc.zip
data/CNP_ModelOutputs/Tanioka17_GBC/*.nc
data/CNP_ModelOutputs/Matsumoto20_ERL/*.nc
data/CNP_ModelOutputs/Matsumoto20_ERL/*.tar.tz

.DS_Store
*.Rapp.history
*.Rhistory
*.RData
*.Rproj
*tmp*
*.rda
*.html
*.swp
R/*.swp
TODO.md
*~$*
